@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

:root {
  --main-bg-colour: #1e2749;
  --accent: #8892b0;
  --text-accent: #30343f;
}

*,
*::before,
::after {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Slab', serif;
  padding: 0;
  margin: 0;
}

h1 {
  color: #fff;
  font-size: 6rem;
}

p {
  margin-top: 0;
}

/* Backgrounds */

.bg-primary {
  background-color: var(--main-bg-colour);
}

.bg-large {
  width: 100%;
  height: 100vh;
}

/* Links */
a {
  text-decoration: none;
}

/* Lists */
.list {
  list-style: none;
}

/* Container & Grid*/
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8rem;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-2-left-large {
  grid-template-columns: 1fr 100px;
}

.grid-2x2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 4rem;
  }
}

@media screen and (max-width: 700px) {
  .container {
    max-width: 700px;
    padding: 0 2rem;
  }

  .grid-cols-2-left-large {
    grid-template-columns: 1fr;
  }

  .grid-2x2 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand a {
  font-size: 2.4rem;
  color: #fff;
  font-weight: bold;
}

.nav-list {
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item {
  margin-right: 3rem;
}

.list-item a {
  color: var(--accent);
}

.list-item a:hover {
  color: #c6cee7;
}

@media screen and (max-width: 768px) {
  nav {
    display: block;
  }

  .brand {
    margin: 0 auto;
    text-align: center;
    padding-top: 2.5rem;
  }
}

/* Hero */
.hero {
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.hero-title {
  margin-bottom: 0;
  margin-top: 0;
}

.hero-content {
  font-size: 3.6rem;
  color: var(--accent);
}

.hero-socials {
  font-size: 7rem;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.hero-social-icon {
  color: #fff;
  margin-top: 6rem;
  transition: 0.3s ease-in-out;
}

.hero-social-icon:hover {
  color: var(--accent);
  transform: scale(1.3);
}

.down-arrow {
  font-size: 4rem;
  background-color: var(--accent);
  color: #fff;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .hero-socials {
    font-size: 6rem;
    display: flex;
    flex-direction: column;
    color: #fff;
  }

  .down-arrow {
    transform: translateY(-57px);
  }
}

@media screen and (max-width: 700px) {
  .hero {
    align-content: center;
  }

  .hero-title {
    text-align: center;
  }

  .hero-content {
    text-align: center;
  }

  .hero-socials {
    font-size: 6rem;
    flex-direction: row;
    margin: 2rem auto 0;
  }

  .hero-social-icon {
    margin-right: 4rem;
  }
}

/* Projects */
.section-title {
  font-size: 4.8rem;
  text-align: center;
  padding: 7rem 0;
  color: var(--text-accent);
}

.project-container {
  margin: 0 auto;
  text-align: center;
  gap: 5rem 2.5rem;
  margin-bottom: 18rem;
  width: 90%;
}

.project-card {
  box-shadow: 12px 12px 3px -1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.project-img {
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
  border-radius: 10px;
}

.project-img:hover {
  box-shadow: 0 0 0 250px rgba(30, 39, 73, 0.9) inset;
}

.hidden-info {
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  color: #fff;
}

.hidden-info h3 {
  font-size: 3rem;
  margin-top: 0;
}

.hidden-info p {
  font-size: 2rem;
  width: 80%;
  margin: 0 auto 3rem;
}

.hidden-info p:nth-child(3) {
  margin-bottom: 6rem;
  color: var(--accent);
}

.visit-site {
  font-size: 2rem;
  color: white;
  background-color: var(--accent);
  width: 300px;
  padding: 2rem 2rem;
  border-radius: 20px;
}

.visit-site:hover {
  background-color: var(--text-accent);
}

.project-img:hover .hidden-info {
  opacity: 1;
  transform: scale(1);
}

.img-1 {
  background-image: url('../img/fregg.png');
}

.img-2 {
  background-image: url('../img/chatapp.png');
}

.img-3 {
  background-image: url('../img/maxroll.png');
}

.img-4 {
  background-image: url('../img/cakejoey.png');
}

img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .project-container {
    gap: 3rem 2.5rem;
    width: 100%;
  }

  .project-img {
    height: 350px;
  }

  .hidden-info h3 {
    font-size: 2.5rem;
    margin: 0 auto;
    width: 80%;
  }

  .hidden-info p {
    font-size: 1.8rem;
    margin: 1rem auto 3rem;
  }

  .hidden-info p:nth-child(3) {
    margin-bottom: 3rem;
  }

  .visit-site {
    font-size: 1.8rem;
    width: 250px;
    padding: 1.5rem 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .project-container {
    gap: 1rem 2rem;
  }

  .project-img {
    height: 300px;
  }

  .hidden-info h3 {
    font-size: 2.2rem;
    width: 80%;
  }

  .hidden-info p {
    font-size: 1.5rem;
    margin: 1rem auto 2.5rem;
  }

  .visit-site {
    font-size: 1.5rem;
    width: 250px;
    padding: 1.3rem 1.3rem;
  }

  .hidden-info p:nth-child(3) {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .project-img {
    height: 400px;
  }

  .project-container {
    gap: 5rem;
  }

  .visit-site {
    font-size: 1.8rem;
    width: 300px;
    padding: 1.5rem 1.5rem;
  }

  .hidden-info h3 {
    font-size: 2.8rem;
    margin: 3rem auto 2rem;
    width: 80%;
  }

  .hidden-info p {
    font-size: 1.5rem;
    margin: 1rem auto 2.5rem;
  }
}

/* Skills */
.title-light {
  color: var(--accent);
  padding-top: 10rem;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18rem;
}

.skill-item {
  transition: 0.3s ease-in-out;
}

.skill-item:hover {
  transform: scale(1.3);
}

.skill-item img {
  width: 100px;
}

.skill-item p {
  font-size: 2rem;
  text-align: center;
  color: var(--accent);
}

@media screen and (max-width: 1024px) {
  .skills-container {
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
  }

  .skill-item img {
    width: 80px;
    margin-right: 1rem;
  }

  .skill-item p {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .skill-item:hover {
    transform: scale(1.2);
  }
}

/* Contact */

.email-me {
  text-align: center;
  margin-bottom: 14rem;
}

.email-link {
  font-size: 2rem;
  color: white;
  background-color: var(--main-bg-colour);
  width: 300px;
  padding: 3rem 3rem;
  border-radius: 20px;
}

.email-link:hover {
  background-color: var(--accent);
}

@media screen and (max-width: 768px) {
  .email-link {
    font-size: 1.8rem;
    width: 300px;
  }
}

/* Footer */
footer {
  background-color: var(--main-bg-colour);
  padding: 4rem 0;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.footer-section p {
  font-size: 2rem;
  margin-bottom: 0;
}

.footer-socials {
  font-size: 4rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social-icon {
  color: #fff;
  margin-right: 4rem;
}

.footer-social-icon:hover {
  animation: shake 150ms 2 linear;
  -moz-animation: shake 150ms 2 linear;
  -webkit-animation: shake 150ms 2 linear;
  -o-animation: shake 150ms 2 linear;
}

.footer-social-icon:hover {
  color: var(--accent);
}

@media screen and (max-width: 560px) {
  .footer-socials {
    font-size: 3rem;
  }

  .footer-social-icon {
    margin-right: 2rem;
  }
}

/* Animations */
@keyframes shake {
  0% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@-moz-keyframes shake {
  0% {
    -moz-transform: translate(3px, 0);
  }
  50% {
    -moz-transform: translate(-3px, 0);
  }
  100% {
    -moz-transform: translate(0, 0);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(3px, 0);
  }
  50% {
    -webkit-transform: translate(-3px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}

@-ms-keyframes shake {
  0% {
    -ms-transform: translate(3px, 0);
  }
  50% {
    -ms-transform: translate(-3px, 0);
  }
  100% {
    -ms-transform: translate(0, 0);
  }
}

@-o-keyframes shake {
  0% {
    -o-transform: translate(3px, 0);
  }
  50% {
    -o-transform: translate(-3px, 0);
  }
  100% {
    -o-transform: translate(0, 0);
  }
}
