@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

:root {
  --main-bg-colour: #1e2749;
  --accent: #8892b0;
  --text-accent: #30343f;
}

*,
*::before,
::after {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Slab', serif;
  padding: 0;
  margin: 0;
}

h1 {
  color: #fff;
  font-size: 6rem;
}

p {
  margin-top: 0;
}

/* Backgrounds */

.bg-primary {
  background-color: var(--main-bg-colour);
}

.bg-large {
  width: 100%;
  height: 100vh;
}

/* Links */
a {
  text-decoration: none;
}

/* Lists */
.list {
  list-style: none;
}

/* Container & Grid*/
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-2-left-large {
  grid-template-columns: 1fr 100px;
}

.grid-2x2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand a {
  font-size: 2.4rem;
  color: #fff;
  font-weight: bold;
}

.nav-list {
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item {
  margin-right: 3rem;
}

.list-item a {
  color: var(--accent);
}

.list-item a:hover {
  color: #c6cee7;
}

/* Hero */
.hero {
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.hero-title {
  margin-bottom: 0;
  margin-top: 0;
}

.hero-content {
  font-size: 3.6rem;
  color: var(--accent);
}

.hero-socials {
  font-size: 7rem;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.hero-social-icon {
  color: #fff;
  margin-top: 6rem;
}

.hero-social-icon:hover {
  color: var(--accent);
}

.down-arrow {
  font-size: 4rem;
  background-color: var(--accent);
  color: #fff;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
}

/* Projects */
.section-title {
  font-size: 4.8rem;
  text-align: center;
  padding: 7rem 0;
  color: var(--text-accent);
}

.project-container {
  margin: 0 auto;
  text-align: center;
  gap: 2.5rem;
  margin-bottom: 18rem;
  width: 70%;
}

img {
  width: 100%;
}

.project-card img {
  border: 1px solid black;
  border-radius: 10px;
}

/* Skills */
.title-light {
  color: var(--accent);
  padding-top: 10rem;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18rem;
}

.skill-item img {
  width: 100px;
}

.skill-item p {
  font-size: 2rem;
  text-align: center;
  color: var(--accent);
}
